@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-black-700 font-sans;
}

.button-arrow {
  @apply w-11 h-11 bg-black-500  rounded-md flex justify-center items-center;
}
.button-line {
  @apply w-4 h-1 active:bg-red-700 bg-black-300 rounded-md;
}
.icon-info {
  @apply text-gray-800  text-[8px] md:text-[10px] flex flex-row items-center gap-1 pl-1 pr-2 py-1 bg-black-700 border border-black-400 rounded-full;
}
.date-info {
  @apply text-gray-800 text-[8px] md:text-[10px] flex flex-row items-center gap-1 px-0 md:px-1 py-1 bg-black-700 border border-black-400 rounded-full;
}

.link-border {
  @apply w-11 h-11 bg-black-600 border border-black-400 rounded-md flex items-center justify-center transition-opacity duration-300 hover:opacity-70;
}

.button-set {
  @apply w-12 h-12 flex items-center justify-center bg-black-800 border border-black-400 rounded-md cursor-pointer hover:opacity-70;
}
.global-text {
  @apply text-sm text-gray-800 lg:text-base 2xl:text-lg;
}
.title {
  @apply text-lg text-white font-bold lg:text-xl 2xl:text-2xl;
}
.input {
  @apply bg-black-700 border border-black-400 text-gray-800 rounded-md outline-none w-full px-4 py-2;
}
.input::placeholder {
  @apply text-gray-800 text-xs;
}
.label {
  @apply text-base 2xl:text-lg font-semibold;
}

.custom-bullet {
  background-color: gray;
  transition: background-color 0.3s, width 0.3s;
}

.custom-bullet.swiper-pagination-bullet-active {
  background-color: red !important;
  width: 8px !important;
  height: 8px !important;
}

.bg-gradient {
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 1) 0%,
    rgba(20, 15, 15, 0.97) 33%,
    rgba(34, 14, 14, 0.91) 67%,
    rgba(229, 0, 0, 0.5) 100%
  );
}
@media (min-width: 768px) {
  .bg-gradient {
    background: linear-gradient(
      to right,
      rgba(15, 15, 15, 1) 0%,
      rgba(20, 15, 15, 0.97) 33%,
      rgba(34, 14, 14, 0.91) 67%,
      rgba(229, 0, 0, 0.5) 100%
    );
  }
}

.bg-gradient-home {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 10%,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.9) 80%,
    #141414
  );
}
.bg-gradient-devices {
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.9) 81%,
    rgba(229, 0, 0, 0.12) 100%
  );
}
